certifi==2022.12.7
chardet==3.0.4
cheroot==8.2.1
CherryPy==18.4.0
Click==7.0
Cython==0.29.14
Flask==1.1.1
gunicorn==20.0.2
idna==2.8
itsdangerous==1.1.0
jaraco.functools==2.0
Jinja2==2.10.3
MarkupSafe==1.1.1
more-itertools==7.2.0
mysql-connector==2.2.9
mysql-connector-python==8.0.18
portend==2.6
protobuf==3.10.0
PyMySQL==0.9.3
PySocks==1.7.1
pyTelegramBotAPI==3.6.6
pytz==2019.3
requests==2.22.0
six==1.13.0
tempora==1.14.1
urllib3==1.25.7
vedis==0.7.1
Werkzeug==0.16.0
zc.lockfile==2.0
